* {
    box-sizing: border-box;
/*    border: 1px solid red;*/
}

body {
    background: url(background.png) center center no-repeat fixed;
    
}

header {
    text-align: center;
}

h1, h4, h3 {
    font-family: 'Titan One', cursive;
    margin: 10px 10px 10px 10px;   
}

h1 {
    font-size: 4em;
    text-shadow: 4px 0px 0px white;
}

h4 {
    font-size: 2em;
    text-shadow: 4px 0px 0px white;
}

.list {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

main {
    width: 90%;
    margin: auto;
}
.row {
    background-color: skyblue;
    width: 80%;
    height:inherit;
    margin: auto;
    border: 1px solid black;
}

img {
    max-width: 25%;
    max-height: 1500px;
    border: 5px solid white;
    margin: auto;
    
}

h3 {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 1.5em;
 
}
.price {
    font-family: Arial, sans-serif;
    font-size: 1em;
    display: inline-flex;
}

li {
    list-style-type: none;
    line-height: 1.75em
}

input {
    min-width: 100%;
    height: inherit;
    display: inline;
}

footer {
/*    display: inline-block;*/
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: skyblue;
}

footer > a {
/*    background-color: skyblue;*/
    width: 100%;
    display: inline;
    margin: 10px 20px 10px 20px;
    text-align: center;
/*    border: 5px solid skyblue;*/
}

footer > p {
/*    background-color: skyblue;*/
    width: 100%;
    display: inline;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

