<div class="row">
    <div class='col-sm-12'>
        <div class='panel panel-default'>

            <div class='panel-heading'>
                <h2 class='panel-title'>{{bounty.firstname}} {{bounty.lastName}} <small class='pull-right' ng-if='bounty.living'>ALIVE</small><small class='pull-right' ng-if='!bounty.living'>DEAD</small></h2>
            </div>

            <div class='panel-body'>
                <div class="col-sm-6">
                    <h4>Type: {{bounty.type}}</h4>
                    <h4>Bounty: {{bounty.bounty}}</h4>
                </div>
                <div class='col-sm-6 img-box'>
                    <img class='img-responsive' ng-src="{{bounty.imgUrl}}" alt="">
                </div>




            </div>
        </div>
    </div>
</div>