body {
    background-color: rgb(93, 53, 51);
}
.top {
    height: 300px;
    background-image: url(coffee2pour.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.spacer {
    height: 60px;
    text-align: right;
    
}

.sip {
    color: rgb(93, 53, 51);
    background-color: rgba(208,246,222, .75);
    font-family: 'Yanone Kaffeesa', sans-serif;
}

.bottom {
    background-color: rgb(93, 53, 51);
    height: 350px;
}

.title {
    background-color: rgba(248,226,222, .9);
    text-align: left;
    font-family: 'IM Fell English SC', serif;
    
}

