<div class='container'>

    <div class="scroll">
        <ul>
            <li ng-repeat='pony in ponies'>
                <a ng-click='$ctrl.open()'>
                    <img ng-src="{{pony.imgUrl}}" alt="">
                    <span>{{pony.name}}</span>
                </a>
            </li>
        </ul>
    </div>
    
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>

    <div class="row">
       <h1>Fan-Favorite Ponies</h1>
        <div class="col-md-3 ponyItem" ng-repeat='pony in ponies track by $index'>
            <h3>{{pony.name}}</h3>
            <img class='img-responsive' ng-src='{{pony.imgUrl}}'>
            <h4>Added By: {{pony.username}}</h4>
            <div class="button-group">
                <button class='btn btn-sm btn-danger glyphicon glyphicon-trash' ng-click='deletePony(pony, $index)'></button>

                <button class='btn btn-sm btn-default glyphicon glyphicon-pencil' ng-click='pony.editing = !pony.editing' ng-show='!pony.editing' ng-hide='pony.editing'></button>

                <button class='btn btn-sm btn-success glyphicon glyphicon-floppy-disk' ng-click='pony.editing = !pony.editing; editPony(pony, $index)' ng-show='pony.editing' ng-hide='!pony.editing'></button>

                <button class='btn btn-sm btn-default glyphicon glyphicon-remove' ng-click='pony.editing = !pony.editing' ng-show='pony.editing' ng-hide='!pony.editing'></button>
            </div>

            <form name="updateform" class=' ponyEdit form-group' ng-show='pony.editing'>

                <input class='form-control' type="text" placeholder='{{pony.name}}' ng-model='pony.name'>

                <input class='form-control' type="text" placeholder='{{pony.imgUrl}}' ng-model='pony.imgUrl'>

                <input class='form-control' type="text" placeholder='{{pony.username}}' ng-model='pony.username'>

            </form>
        </div>
    </div>
</div>