<div class='container'>


    
<div  class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
      

    
        <div class="modal-body" id="modal-body">
             <h3 class='modal-title'>{{modalPony.name}}</h3>

            <iframe width="640" height="390" ng-src="{{trustedUrl}}" frameborder="0" ></iframe>
            
        </div>
        
        
    </script>
    
    <div class="scroll">
        <ul>
            <li ng-repeat='pony in ponies'>
                <a ng-click="openModal(pony)">
                    <img  ng-src="{{pony.imgUrl}}" alt="">
                    <span>{{pony.name}}</span>
                </a>
            </li>
        </ul>
</div>

</div>


    <div class="row">
       <h1 class='fan-fav'>Fan-Favorite Ponies</h1>
       <hr>
        <div class="col-md-3 ponyItem" ng-repeat='pony in ponies track by $index'>
            <h3>{{pony.name}}</h3>
            <img class='img-responsive' ng-src='{{pony.imgUrl}}'>
            <h4>Added By: {{pony.username}}</h4>
            <div class="button-group">
                <button class='btn btn-sm btn-danger glyphicon glyphicon-trash' ng-click='deletePony(pony, $index)'></button>

                <button class='btn btn-sm btn-default glyphicon glyphicon-pencil' ng-click='pony.editing = !pony.editing' ng-show='!pony.editing' ng-hide='pony.editing'></button>

                <button class='btn btn-sm btn-success glyphicon glyphicon-floppy-disk' ng-click='pony.editing = !pony.editing; editPony(pony, $index)' ng-show='pony.editing' ng-hide='!pony.editing'></button>

                <button class='btn btn-sm btn-default glyphicon glyphicon-remove' ng-click='pony.editing = !pony.editing' ng-show='pony.editing' ng-hide='!pony.editing'></button>
            </div>

            <form name="updateform" class=' ponyEdit form-group' ng-show='pony.editing'>

                <input class='form-control' type="text" placeholder='{{pony.name}}' ng-model='pony.name'>

                <input class='form-control' type="text" placeholder='{{pony.imgUrl}}' ng-model='pony.imgUrl'>

                <input class='form-control' type="text" placeholder='{{pony.username}}' ng-model='pony.username'>

            </form>
        </div>
    </div>
</div>