  
   <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 about">
            <h3><span class='about-left'>About Montana</span></h3>
            <h4><span class='right'>Population: 1,042,520</span></h4>
            <hr/>
            
            <p>{{username}}</p>
            
            <p>Montana is a state in the Western region of the United States. The state's name is derived from the Spanish word montaña (mountain). Montana has several nicknames, although none official, including "Big Sky Country" and "The Treasure State", and slogans that include "Land of the Shining Mountains" and more recently "The Last Best Place".</p>
            <p>Montana has a 545-mile (877 km) border with three Canadian provinces: British Columbia, Alberta, and Saskatchewan, the only state to do so. It also borders North Dakota and South Dakota to the east, Wyoming to the south, and Idaho to the west and southwest.</p>
            <p>Montana is ranked 4th in size, but 44th in population and 48th in population density of the 50 United States. The western third of Montana contains numerous mountain ranges. Smaller island ranges are found throughout the state. In total, 77 named ranges are part of the Rocky Mountains. The eastern half of Montana is characterized by western prairie terrain and badlands.</p>
            <p>The economy is primarily based on agriculture, including ranching and cereal grain farming. Other significant economic activities include oil, gas, coal and hard rock mining, lumber, and the fastest-growing sector, tourism. The health care, service, and government sectors also are significant to the state's economy. Millions of tourists annually visit Glacier National Park, the Little Bighorn Battlefield National Monument, and Yellowstone National Park.</p>
        </div>
    </div>
</div>